Repository Dining-together/Algorithm-study, pull requests merged in 2021-11, with the labels that each got.

#95 2021-11-01
  jifrozen/다이나믹프로그래밍/개미_전사.java
  jifrozen/다이나믹프로그래밍/바닥_공사.java
  jifrozen/다이나믹프로그래밍/일로_만들기.java
Labels: 이코테, Java

#96 2021-11-01
  TaeBeomShin/6. 다이나믹_프로그래밍/dp8_1.java
  TaeBeomShin/6. 다이나믹_프로그래밍/dp8_2.java
  TaeBeomShin/6. 다이나믹_프로그래밍/dp8_3.java
  TaeBeomShin/6. 다이나믹_프로그래밍/dp8_4.java
  TaeBeomShin/6. 다이나믹_프로그래밍/개미_전사.java
  TaeBeomShin/6. 다이나믹_프로그래밍/금광.java
  TaeBeomShin/6. 다이나믹_프로그래밍/바닥_공사.java
  TaeBeomShin/6. 다이나믹_프로그래밍/일로_만들기.java
  TaeBeomShin/6. 다이나믹_프로그래밍/정수_삼각형.java
  TaeBeomShin/6. 다이나믹_프로그래밍/퇴사.java
  TaeBeomShin/6. 다이나믹_프로그래밍/효율적인_화폐_구성.java
Labels: 이코테, Java

#97 2021-11-01
  yejipractice/이코테/다이나믹프로그래밍/1로_만들기.py
  yejipractice/이코테/다이나믹프로그래밍/개미_전사.py
  yejipractice/이코테/다이나믹프로그래밍/다이나믹프로그래밍.md
  yejipractice/이코테/다이나믹프로그래밍/바닥_공사.py
Labels: 이코테, Python

#98 2021-11-02
  yejipractice/이코테/다이나믹프로그래밍/금광.py
  yejipractice/이코테/다이나믹프로그래밍/정수_삼각형.py
  yejipractice/이코테/다이나믹프로그래밍/퇴사.py
Labels: 이코테, Python

#99 2021-11-02
  jifrozen/다이나믹프로그래밍/금광.java
  jifrozen/다이나믹프로그래밍/정수삼각형.java
  jifrozen/다이나믹프로그래밍/퇴사.java
Labels: 이코테, Java

#100 2021-11-03
  yejipractice/이코테/다이나믹프로그래밍/못생긴_수.py
  yejipractice/이코테/다이나믹프로그래밍/병사_배치하기.py
  yejipractice/이코테/다이나믹프로그래밍/편집_거리.py
Labels: 이코테, Python

#101 2021-11-03
  TaeBeomShin/6. 다이나믹_프로그래밍/못생긴_수.java
  TaeBeomShin/6. 다이나믹_프로그래밍/병사_배치하기.java
  TaeBeomShin/6. 다이나믹_프로그래밍/편집거리.java
Labels: 이코테, Java

#102 2021-11-03
  jifrozen/다이나믹프로그래밍/병사_배치하기.java
  jifrozen/다이나믹프로그래밍/설탕배달.java
  jifrozen/다이나믹프로그래밍/이xn타일링.java
  jifrozen/다이나믹프로그래밍/효율적인_화폐_구성.java
Labels: 이코테, BOJ, Java

#104 2021-11-04
  jifrozen/다이나믹프로그래밍/계단오르기.java
  jifrozen/다이나믹프로그래밍/못생긴_수.java
  jifrozen/다이나믹프로그래밍/편집_거리.java
Labels: 이코테, BOJ, Java

#103 2021-11-04
  yejipractice/BOJ/다이나믹프로그래밍/LCS.py
  yejipractice/BOJ/다이나믹프로그래밍/암호코드.py
Labels: BOJ, Python

#105 2021-11-04 & 2021-11-05
  TaeBeomShin/6. 다이나믹_프로그래밍/LCS.java
  TaeBeomShin/6. 다이나믹_프로그래밍/암호코드.java
  TaeBeomShin/6. 다이나믹_프로그래밍/줄세우기.java
  TaeBeomShin/6. 다이나믹_프로그래밍/카드게임.java
Labels: BOJ, Java

#106 2021-11-05
  yejipractice/BOJ/다이나믹프로그래밍/줄세우기.py
  yejipractice/BOJ/다이나믹프로그래밍/카드게임.py
Labels: BOJ, Python

#107 Merge from yejipractice to main
  yejipractice/BOJ/다이나믹프로그래밍/LCS.py
  yejipractice/BOJ/다이나믹프로그래밍/암호코드.py
  yejipractice/BOJ/다이나믹프로그래밍/줄세우기.py
  yejipractice/BOJ/다이나믹프로그래밍/카드게임.py
  yejipractice/이코테/다이나믹프로그래밍/1로_만들기.py
  yejipractice/이코테/다이나믹프로그래밍/개미_전사.py
  yejipractice/이코테/다이나믹프로그래밍/금광.py
  yejipractice/이코테/다이나믹프로그래밍/다이나믹프로그래밍.md
  yejipractice/이코테/다이나믹프로그래밍/못생긴_수.py
  yejipractice/이코테/다이나믹프로그래밍/바닥_공사.py
  yejipractice/이코테/다이나믹프로그래밍/병사_배치하기.py
  yejipractice/이코테/다이나믹프로그래밍/정수_삼각형.py
  yejipractice/이코테/다이나믹프로그래밍/퇴사.py
  yejipractice/이코테/다이나믹프로그래밍/편집_거리.py
Labels: merge

#108 2021-11-05
  jifrozen/다이나믹프로그래밍/점프.java
  jifrozen/다이나믹프로그래밍/카드게임하기.java
Labels: BOJ, Java

#109 2021-11-01~2021-11-05
  yunva17/다이나믹 프로그래밍/1로_만들기.py
  yunva17/다이나믹 프로그래밍/개미_전사.py
  yunva17/다이나믹 프로그래밍/계단_오르기.py
  yunva17/다이나믹 프로그래밍/금광.py
  yunva17/다이나믹 프로그래밍/다이나믹_프로그래밍.md
  yunva17/다이나믹 프로그래밍/못생긴_수.py
  yunva17/다이나믹 프로그래밍/바닥_공사.py
  yunva17/다이나믹 프로그래밍/병사_배치하기.py
  yunva17/다이나믹 프로그래밍/정수_삼각형.py
  yunva17/다이나믹 프로그래밍/타일_장식물.py
  yunva17/다이나믹 프로그래밍/퇴사.py
  yunva17/다이나믹 프로그래밍/편집_거리.py
  yunva17/다이나믹 프로그래밍/피보나치_수_5.py
  yunva17/다이나믹 프로그래밍/효율적인_화폐_구성.py
Labels: 이코테, BOJ, Python

#110 2021-11-08
  jifrozen/최단경로/간단_다익스트라.java
  jifrozen/최단경로/개선_다익스트라.java
  jifrozen/최단경로/미래도시.java
  jifrozen/최단경로/전보.java
  jifrozen/최단경로/플로이드워셜.java
Labels: 이코테, Java

#111 2021-11-09
  jifrozen/최단경로/정확한_순위.java
  jifrozen/최단경로/플로이드.java
Labels: 이코테, Java

#112 2021-11-10
  jifrozen/최단경로/숨바꼭질.java
  jifrozen/최단경로/화성탐사.java
Labels: 이코테, Java

#113 2021-11-08
  yejipractice/이코테/최단경로/미래도시.py
  yejipractice/이코테/최단경로/전보.py
  yejipractice/이코테/최단경로/최단경로.md
Labels: 이코테, Python

#114 2021-11-11
  jifrozen/최단경로/역사.java
  jifrozen/최단경로/최단경로.java
Labels: BOJ, Java

#115 2021-11-12
  jifrozen/최단경로/경로찾기.java
  jifrozen/최단경로/택배.java
Labels: BOJ, Java

#116 2021-11-09
  yejipractice/이코테/최단경로/정확한_순위.py
  yejipractice/이코테/최단경로/플로이드.py
Labels: 이코테, Python

#117 [Docs] 그래프 이론 문서 추가
  계획/그래프 _이론.md
Labels: docs

#118 2021-11-10
  yejipractice/이코테/최단경로/숨바꼭질.py
  yejipractice/이코테/최단경로/화성_탐사.py
Labels: 이코테, Python

#119 2021-11-11
  yejipractice/BOJ/최단경로/경로_찾기.py
  yejipractice/BOJ/최단경로/바이러스.py
Labels: BOJ, Python

#120 2021-11-08 ~ 2021-11-10
  TaeBeomShin/7. 최단경로/9-1.py
  TaeBeomShin/7. 최단경로/9-2.py
  TaeBeomShin/7. 최단경로/9-3.py
  TaeBeomShin/7. 최단경로/미래_도시.py
  TaeBeomShin/7. 최단경로/숨바꼭질.py
  TaeBeomShin/7. 최단경로/전보.py
  TaeBeomShin/7. 최단경로/정확한_순위.py
  TaeBeomShin/7. 최단경로/플로이드.py
  TaeBeomShin/7. 최단경로/화성_탐사.py
Labels: 이코테, Python

#121 2021-11-12
  yejipractice/BOJ/최단경로/역사.py
  yejipractice/BOJ/최단경로/최단경로.py
Labels: BOJ, Python

#122 Merge from yejipractice to main
  yejipractice/BOJ/최단경로/경로_찾기.py
  yejipractice/BOJ/최단경로/바이러스.py
  yejipractice/BOJ/최단경로/역사.py
  yejipractice/BOJ/최단경로/최단경로.py
  yejipractice/이코테/최단경로/미래도시.py
  yejipractice/이코테/최단경로/숨바꼭질.py
  yejipractice/이코테/최단경로/전보.py
  yejipractice/이코테/최단경로/정확한_순위.py
  yejipractice/이코테/최단경로/최단경로.md
  yejipractice/이코테/최단경로/플로이드.py
  yejipractice/이코테/최단경로/화성_탐사.py
Labels: merge

#123 2021-11-11 & 2021-11-12
  TaeBeomShin/7. 최단경로/경로찾기.py
  TaeBeomShin/7. 최단경로/바이러스.py
  TaeBeomShin/7. 최단경로/최소비용_구하기.py
  TaeBeomShin/7. 최단경로/케빈_베이컨의_6단계_법칙.py
Labels: BOJ, Python

#124 2021-11-08 ~ 2021-11-12
  yunva17/최단 경로/경로_찾기.py
  yunva17/최단 경로/미래도시.py
  yunva17/최단 경로/바이러스.py
  yunva17/최단 경로/숨바꼭질.py
  yunva17/최단 경로/전보.py
  yunva17/최단 경로/정확한_순위.py
  yunva17/최단 경로/최단_경로.md
  yunva17/최단 경로/최단경로.py
  yunva17/최단 경로/케빈_베이컨의_6단계_법칙.py
  yunva17/최단 경로/플로이드.py
  yunva17/최단 경로/화성_탐사.py
Labels: 이코테, BOJ, Python

#125 2021-11-15~2021-11-16
  jifrozen/그래프_이론/기본_서로소.java
  jifrozen/그래프_이론/도시분할계획.java
  jifrozen/그래프_이론/서로소_사이클.java
  jifrozen/그래프_이론/어두운_길.java
  jifrozen/그래프_이론/여행_계획.java
  jifrozen/그래프_이론/위상정렬.java
  jifrozen/그래프_이론/커리큘럼.java
  jifrozen/그래프_이론/크루스칼.java
  jifrozen/그래프_이론/탐승구.java
  jifrozen/그래프_이론/팀결성.java
Labels: 이코테, Java

#126 2021-11-17~2021-11-19
  jifrozen/그래프_이론/게임개발.java
  jifrozen/그래프_이론/네트워크연결.java
  jifrozen/그래프_이론/별자리_만들기.java
  jifrozen/그래프_이론/줄세우기.java
  jifrozen/그래프_이론/최종순위.java
  jifrozen/그래프_이론/행성터널.java
Labels: BOJ, Java
